<h1>Score</h1>
<p>The grid is : <%= @letters %></p>
<p>You typed : <%= @word %></p>
<p></p>
<p>Your score is : <%= @score %></p>
<p>Message : <%= @message %></p>
<%= link_to "Play again", new_path %>
